@tailwind base;
@tailwind components;
@tailwind utilities;

.main-font {
    font-family: 'Open Sans', sans-serif;
  }
  .menu-button {
    z-index: 20; /* Ensures the menu button is above the navigation menu */
    position: fixed; /* Fixed position to stay in view on scroll */
    top: 1rem;
    right: 1rem;
  }
  #navigation {
    background-color: #e5e5e5; /* Grey background for the menu */
    flex-direction: column;
    align-items: center;
    position: absolute; /* Absolute position to stay in view on scroll */
    width: 100%;
    top: 0;
    left: 0;
    display: none; /* Hidden by default */
    z-index: 10; /* Ensure it's above other content but below the menu button */
  }
  
  blockquote.custom-style {
    border-left: 4px solid #4a5568; /* Tailwind's gray-500 color */
    padding-left: 1rem; /* 16px */
    font-style: italic;
    color: #718096; /* Tailwind's gray-600 color */
    margin-top: 1rem; /* 16px */
    margin-bottom: 1rem; /* 16px */
  }

  /* Show the navigation when the menu button is clicked */
  body.menu-active #navigation {
    display: flex;
    padding-top: 60px; /* Adjust this value to account for the height of the menu button */
  }
    /* Adjust the mobile menu button area */
    .text-5xl {
        font-size: 2rem;
        font-weight: bold;
      }
  
    /* Mobile styles */
    @media (max-width: 1023px) {
            /* Shift content down when menu is toggled */
    body.menu-active {
        padding-top: var(--nav-height); /* 
        Variable for dynamic height adjustment */
      }

      
   
        
          #site-title {
            font-size: 1.5rem;
          }

    
      }

        /* Desktop styles */
  @media (min-width: 1024px) {

    #site-title {
        font-size: 2rem; /* Large size for desktop */
        font-weight: bold;
        display: block; /* Ensure the title is displayed */
        margin-top: 1rem; /* Adjust as needed for your layout */
        margin-bottom: 1rem; /* Adjust as needed for your layout */
      }

 

    .lg\\:w-1/4 {
      width: 25%;
    }
  
    .lg\\:w-3/4 {
      width: 75%;
    }
  
    .lg\\:pl-10 {
      padding-left: 2.5rem;
    }
  
    #navigation, .menu-button {
      display: none; /* Hide the mobile menu button and navigation on desktop */
    }

    
  }
